.xkcd-embed {
	display: inline-block;
	border: 1px solid gray;
	padding:5px;
	margin: 5px;
	background-color: rgba(100,120,0,0.2);
}
.xkcd-embed-top {
	display: block;
}
.xkcd-embed-bottom {
	display: block;
	background-color: rgba(120,100,0,0.2);
	margin-top:5px;
	text-align: center;
}
.xkcd-embed-bt {
	display: inline-block;
	font-family: monospace;
	background-color: transparent;
	border:0px solid red;
	color: #2d2d2d;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin:0px;
}
.xkcd-embed-bt:hover {
	background-color: #2d2d2d;
	color: yellow;
}
a.xkcd-embed-title {
	display: inline-block;
	float: left;
	font-weight: bold;
	font-family: Monospace;
	font-size: 14px;
	padding-bottom:5px;
	text-decoration: none;
	color: #222;
}
.xkcd-embed-number {
	float: right;
	font-family: monospace;
	font-style: italic;
}
.xkcd-embed-number::before {
	content: '#';
}
.xkcd-embed-alt {
	display:inline-block;
	font-family: monospace;
	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 5px;
}