.xkcd-embed {
	display: inline-block;
	border: 1px solid gray;
	padding:5px;
	margin: 5px;
	background-color: rgba(100,120,0,0.2);
}
.xkcd-embed-top {
	display: block;
}
.xkcd-embed-bottom {
	display: block;
	background-color: rgba(120,100,0,0.2);
	margin-top:5px;
	text-align: center;
}
.xkcd-embed-bt {
	display: inline-block;
	font-family: monospace;
	background-color: transparent;
	border:0px solid red;
	color: #2d2d2d;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	margin:0px;
}
.xkcd-embed-bt:hover {
	background-color: #2d2d2d;
	color: yellow;
}
a.xkcd-embed-title {
	display: inline-block;
	float: left;
	font-weight: bold;
	font-family: Monospace;
	font-size: 14px;
	padding-bottom:5px;
	text-decoration: none;
	color: #222;
}
.xkcd-embed-number {
	float: right;
	font-family: monospace;
	font-style: italic;
}
.xkcd-embed-number::before {
	content: '#';
}
.xkcd-embed-alt {
	display:inline-block;
	font-family: monospace;
	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 5px;
	width: 100px;
}
.xkcd-embed-btFavorite,  .xkcd-embed-btListFavorites{
	float: right;
	background-color: orange;
}
.xkcd-embed-overlay {
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0, 0.9);
	display: none;
}
.xkcd-embed-favoritesWindow {
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: rgba(250,100,0, 0.9);
	text-align: center;
	display: none;
}
.xkcd-embed-favoriteElement {
	display: block;
	margin: 0 auto;
	max-width:600px;
	background-color: rgba(255, 255, 255, 0.5);
}
.xkcd-embed-favoriteElement:hover {
	background-color: rgba(0,0,0,0.5);
}